In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

from pandas.plotting import scatter_matrix
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

import statsmodels.api as sm

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
all_2016 = pd.read_csv('data/all_2016.csv')
all_2017 = pd.read_csv('data/all_2017.csv')
all_2018 = pd.read_csv('data/all_2018.csv')

In [10]:
bron_2016 = all_2016[all_2016['Player']=='LeBron James'].drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])
bron_2017 = all_2017[all_2017['Player']=='LeBron James'].drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [18]:
bron = bron_2016.set_index('Player').join(bron_2017.set_index('Player'),lsuffix='_2016', rsuffix='_2017')

In [20]:
bron.reset_index()

,Player,Year_2016,Pos_2016,Age_2016,Tm_2016,G_2016,MP_2016,PER_2016,TS%_2016,3PAr_2016,FTr_2016,ORB%_2016,DRB%_2016,TRB%_2016,AST%_2016,STL%_2016,BLK%_2016,TOV%_2016,USG%_2016,OWS_2016,DWS_2016,WS_2016,WS/48_2016,OBPM_2016,DBPM_2016,BPM_2016,VORP_2016,FG_2016,FGA_2016,FG%_2016,3P_2016,3PA_2016,3P%_2016,2P_2016,2PA_2016,2P%_2016,eFG%_2016,FT_2016,FTA_2016,FT%_2016,ORB_2016,DRB_2016,TRB_2016,AST_2016,STL_2016,BLK_2016,TOV_2016,PF_2016,PTS_2016,Player Salary in $,Year_2017,Pos_2017,Age_2017,Tm_2017,G_2017,MP_2017,PER_2017,TS%_2017,3PAr_2017,FTr_2017,ORB%_2017,DRB%_2017,TRB%_2017,AST%_2017,STL%_2017,BLK%_2017,TOV%_2017,USG%_2017,OWS_2017,DWS_2017,WS_2017,WS/48_2017,OBPM_2017,DBPM_2017,BPM_2017,VORP_2017,FG_2017,FGA_2017,FG%_2017,3P_2017,3PA_2017,3P%_2017,2P_2017,2PA_2017,2P%_2017,eFG%_2017,FT_2017,FTA_2017,FT%_2017,ORB_2017,DRB_2017,TRB_2017,AST_2017,STL_2017,BLK_2017,TOV_2017,PF_2017,PTS_2017,salary
0,LeBron James,2016.0,SF,31.0,CLE,76.0,2709.0,27.5,0.588,0.199,0.347,4.7,18.8,11.8,36.0,2.0,1.5,13.2,31.4,9.6,4.0,13.6,0.242,6.9,2.3,9.1,7.6,737.0,1416.0,0.52,87.0,282.0,0.309,650.0,1134.0,0.573,0.551,359.0,491.0,0.731,111.0,454.0,565.0,514.0,104.0,49.0,249.0,143.0,1920.0,"$30,963,450",2017.0,SF,32.0,CLE,74.0,2794.0,27.0,0.619,0.254,0.395,4.0,20.7,12.6,41.3,1.6,1.3,16.1,30.0,9.8,3.0,12.9,0.221,6.8,1.6,8.4,7.3,736.0,1344.0,0.548,124.0,342.0,0.363,612.0,1002.0,0.611,0.594,358.0,531.0,0.674,97.0,543.0,640.0,646.0,92.0,44.0,303.0,134.0,1954.0,"$33,285,709"

In [22]:
curry_2016 = all_2016[all_2016['Player']=='Stephen Curry'].drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])
curry_2017 = all_2017[all_2017['Player']=='Stephen Curry'].drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [23]:
curry = curry_2016.set_index('Player').join(curry_2017.set_index('Player'),lsuffix='_2016', rsuffix='_2017')

In [24]:
curry

,Year_2016,Pos_2016,Age_2016,Tm_2016,G_2016,MP_2016,PER_2016,TS%_2016,3PAr_2016,FTr_2016,ORB%_2016,DRB%_2016,TRB%_2016,AST%_2016,STL%_2016,BLK%_2016,TOV%_2016,USG%_2016,OWS_2016,DWS_2016,WS_2016,WS/48_2016,OBPM_2016,DBPM_2016,BPM_2016,VORP_2016,FG_2016,FGA_2016,FG%_2016,3P_2016,3PA_2016,3P%_2016,2P_2016,2PA_2016,2P%_2016,eFG%_2016,FT_2016,FTA_2016,FT%_2016,ORB_2016,DRB_2016,TRB_2016,AST_2016,STL_2016,BLK_2016,TOV_2016,PF_2016,PTS_2016,Player Salary in $,Year_2017,Pos_2017,Age_2017,Tm_2017,G_2017,MP_2017,PER_2017,TS%_2017,3PAr_2017,FTr_2017,ORB%_2017,DRB%_2017,TRB%_2017,AST%_2017,STL%_2017,BLK%_2017,TOV%_2017,USG%_2017,OWS_2017,DWS_2017,WS_2017,WS/48_2017,OBPM_2017,DBPM_2017,BPM_2017,VORP_2017,FG_2017,FGA_2017,FG%_2017,3P_2017,3PA_2017,3P%_2017,2P_2017,2PA_2017,2P%_2017,eFG%_2017,FT_2017,FTA_2017,FT%_2017,ORB_2017,DRB_2017,TRB_2017,AST_2017,STL_2017,BLK_2017,TOV_2017,PF_2017,PTS_2017,salary
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Stephen Curry,2016.0,PG,27.0,GSW,79.0,2700.0,31.5,0.669,0.554,0.25,2.9,13.6,8.6,33.7,3.0,0.4,12.9,32.6,13.8,4.1,17.9,0.318,12.4,0.1,12.5,9.8,805.0,1598.0,0.504,402.0,886.0,0.454,403.0,712.0,0.566,0.63,363.0,400.0,0.908,68.0,362.0,430.0,527.0,169.0,15.0,262.0,161.0,2375.0,"$12,112,359",2017.0,PG,28.0,GSW,79.0,2638.0,24.6,0.624,0.547,0.251,2.7,11.4,7.3,31.1,2.6,0.5,13.0,30.1,8.6,3.9,12.6,0.229,7.7,-0.4,7.3,6.2,675.0,1443.0,0.468,324.0,789.0,0.411,351.0,654.0,0.537,0.58,325.0,362.0,0.898,61.0,292.0,353.0,523.0,143.0,17.0,239.0,183.0,1999.0,"$34,682,550"

In [52]:
all_2016.head()

,Player,Pos,Age,Tm,G,MP,WS,FG,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Aaron Brooks,PG,31.0,CHI,69.0,1108.0,0.9,188.0,469.0,66.0,185.0,122.0,284.0,49.0,64.0,21.0,80.0,101.0,180.0,30.0,10.0,82.0,132.0,491.0
1,Aaron Gordon,PF,20.0,ORL,78.0,1863.0,5.4,274.0,579.0,42.0,142.0,232.0,437.0,129.0,193.0,154.0,353.0,507.0,128.0,59.0,55.0,66.0,153.0,719.0
2,Aaron Harrison,SG,21.0,CHO,21.0,93.0,0.0,5.0,19.0,3.0,10.0,2.0,9.0,5.0,12.0,4.0,11.0,15.0,2.0,6.0,0.0,4.0,10.0,18.0
3,Adreian Payne,PF,24.0,MIN,52.0,486.0,-0.5,53.0,145.0,9.0,32.0,44.0,113.0,17.0,26.0,20.0,91.0,111.0,29.0,16.0,11.0,36.0,77.0,132.0
4,Al Horford,C,29.0,ATL,82.0,2631.0,9.4,529.0,1048.0,88.0,256.0,441.0,792.0,103.0,129.0,148.0,448.0,596.0,263.0,68.0,121.0,107.0,163.0,1249.0

In [51]:
all_2017.head()

,Player,Pos,Age,Tm,G,MP,WS,FG,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,A.J. Hammons,C,24.0,DAL,22.0,163.0,0.0,17.0,42.0,5.0,10.0,12.0,32.0,9.0,20.0,8.0,28.0,36.0,4.0,1.0,13.0,10.0,21.0,48.0
1,Aaron Brooks,PG,32.0,IND,65.0,894.0,0.3,121.0,300.0,48.0,128.0,73.0,172.0,32.0,40.0,18.0,51.0,69.0,125.0,25.0,9.0,66.0,93.0,322.0
2,Aaron Gordon,SF,21.0,ORL,80.0,2298.0,3.7,393.0,865.0,77.0,267.0,316.0,598.0,156.0,217.0,116.0,289.0,405.0,150.0,64.0,40.0,89.0,172.0,1019.0
3,Aaron Harrison,SG,22.0,CHO,5.0,17.0,-0.1,0.0,4.0,0.0,2.0,0.0,2.0,1.0,2.0,0.0,3.0,3.0,3.0,0.0,0.0,0.0,2.0,1.0
4,Adreian Payne,PF,25.0,MIN,18.0,135.0,0.2,23.0,54.0,3.0,15.0,20.0,39.0,14.0,19.0,9.0,24.0,33.0,7.0,8.0,7.0,8.0,32.0,63.0

In [26]:
all_2016.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G',
       'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', ' Player Salary in $ '],
      dtype='object')

In [29]:
drop_columns = ['Unnamed: 0', 'Unnamed: 0.1', 'Year', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS/48', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG%', '3P%', '2P%', 'eFG%', 'FT%', ' Player Salary in $ ']
drop_columns2 = ['Unnamed: 0', 'Unnamed: 0.1', 'Year', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS/48', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG%', '3P%', '2P%', 'eFG%', 'FT%', 'salary']

In [30]:
all_2016 = all_2016.drop(columns=drop_columns)
all_2017 = all_2017.drop(columns=drop_columns2)
all_2018 = all_2018.drop(columns=drop_columns2)

In [138]:
merged = all_2016.set_index('Player').join(all_2017.set_index('Player'),lsuffix='_2016', rsuffix='_2017',how='outer').reset_index()

In [139]:
merged2 = merged.set_index('Player').join(all_2018.set_index('Player'), rsuffix='_2018',how='right').reset_index()

In [140]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 70 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    540 non-null    object
 1   Pos_2016  324 non-null    object
 2   Age_2016  324 non-null    float64
 3   Tm_2016   324 non-null    object
 4   G_2016    324 non-null    float64
 5   MP_2016   324 non-null    float64
 6   WS_2016   324 non-null    float64
 7   FG_2016   324 non-null    float64
 8   FGA_2016  324 non-null    float64
 9   3P_2016   324 non-null    float64
 10  3PA_2016  324 non-null    float64
 11  2P_2016   324 non-null    float64
 12  2PA_2016  324 non-null    float64
 13  FT_2016   324 non-null    float64
 14  FTA_2016  324 non-null    float64
 15  ORB_2016  324 non-null    float64
 16  DRB_2016  324 non-null    float64
 17  TRB_2016  324 non-null    float64
 18  AST_2016  324 non-null    float64
 19  STL_2016  324 non-null    float64
 20  BLK_2016  324 non-null    float64
 21  TOV_2016  324 non-null    float64
 22  PF_2016   324 non-null    float64
 23  PTS_2016  324 non-null    float64
 24  Pos_2017  389 non-null    object
 25  Age_2017  389 non-null    float64
 26  Tm_2017   389 non-null    object
 27  G_2017    389 non-null    float64
 28  MP_2017   389 non-null    float64
 29  WS_2017   389 non-null    float64
 30  FG_2017   389 non-null    float64
 31  FGA_2017  389 non-null    float64
 32  3P_2017   389 non-null    float64
 33  3PA_2017  389 non-null    float64
 34  2P_2017   389 non-null    float64
 35  2PA_2017  389 non-null    float64
 36  FT_2017   389 non-null    float64
 37  FTA_2017  389 non-null    float64
 38  ORB_2017  389 non-null    float64
 39  DRB_2017  389 non-null    float64
 40  TRB_2017  389 non-null    float64
 41  AST_2017  389 non-null    float64
 42  STL_2017  389 non-null    float64
 43  BLK_2017  389 non-null    float64
 44  TOV_2017  389 non-null    float64
 45  PF_2017   389 non-null    float64
 46  PTS_2017  389 non-null    float64
 47  Pos       540 non-null    object
 48  Age       540 non-null    float64
 49  Tm        540 non-null    object
 50  G         540 non-null    float64
 51  MP        540 non-null    float64
 52  WS        540 non-null    float64
 53  FG        540 non-null    float64
 54  FGA       540 non-null    float64
 55  3P        540 non-null    float64
 56  3PA       540 non-null    float64
 57  2P        540 non-null    float64
 58  2PA       540 non-null    float64
 59  FT        540 non-null    float64
 60  FTA       540 non-null    float64
 61  ORB       540 non-null    float64
 62  DRB       540 non-null    float64
 63  TRB       540 non-null    float64
 64  AST       540 non-null    float64
 65  STL       540 non-null    float64
 66  BLK       540 non-null    float64
 67  TOV       540 non-null    float64
 68  PF        540 non-null    float64
 69  PTS       540 non-null    float64
dtypes: float64(63), object(7)
memory usage: 295.4+ KB

In [141]:
merged2 = merged2.dropna(subset=['DRB_2017'])
merged2 = merged2.fillna(0)

In [142]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389 entries, 0 to 538
Data columns (total 70 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    389 non-null    object
 1   Pos_2016  389 non-null    object
 2   Age_2016  389 non-null    float64
 3   Tm_2016   389 non-null    object
 4   G_2016    389 non-null    float64
 5   MP_2016   389 non-null    float64
 6   WS_2016   389 non-null    float64
 7   FG_2016   389 non-null    float64
 8   FGA_2016  389 non-null    float64
 9   3P_2016   389 non-null    float64
 10  3PA_2016  389 non-null    float64
 11  2P_2016   389 non-null    float64
 12  2PA_2016  389 non-null    float64
 13  FT_2016   389 non-null    float64
 14  FTA_2016  389 non-null    float64
 15  ORB_2016  389 non-null    float64
 16  DRB_2016  389 non-null    float64
 17  TRB_2016  389 non-null    float64
 18  AST_2016  389 non-null    float64
 19  STL_2016  389 non-null    float64
 20  BLK_2016  389 non-null    float64
 21  TOV_2016  389 non-null    float64
 22  PF_2016   389 non-null    float64
 23  PTS_2016  389 non-null    float64
 24  Pos_2017  389 non-null    object
 25  Age_2017  389 non-null    float64
 26  Tm_2017   389 non-null    object
 27  G_2017    389 non-null    float64
 28  MP_2017   389 non-null    float64
 29  WS_2017   389 non-null    float64
 30  FG_2017   389 non-null    float64
 31  FGA_2017  389 non-null    float64
 32  3P_2017   389 non-null    float64
 33  3PA_2017  389 non-null    float64
 34  2P_2017   389 non-null    float64
 35  2PA_2017  389 non-null    float64
 36  FT_2017   389 non-null    float64
 37  FTA_2017  389 non-null    float64
 38  ORB_2017  389 non-null    float64
 39  DRB_2017  389 non-null    float64
 40  TRB_2017  389 non-null    float64
 41  AST_2017  389 non-null    float64
 42  STL_2017  389 non-null    float64
 43  BLK_2017  389 non-null    float64
 44  TOV_2017  389 non-null    float64
 45  PF_2017   389 non-null    float64
 46  PTS_2017  389 non-null    float64
 47  Pos       389 non-null    object
 48  Age       389 non-null    float64
 49  Tm        389 non-null    object
 50  G         389 non-null    float64
 51  MP        389 non-null    float64
 52  WS        389 non-null    float64
 53  FG        389 non-null    float64
 54  FGA       389 non-null    float64
 55  3P        389 non-null    float64
 56  3PA       389 non-null    float64
 57  2P        389 non-null    float64
 58  2PA       389 non-null    float64
 59  FT        389 non-null    float64
 60  FTA       389 non-null    float64
 61  ORB       389 non-null    float64
 62  DRB       389 non-null    float64
 63  TRB       389 non-null    float64
 64  AST       389 non-null    float64
 65  STL       389 non-null    float64
 66  BLK       389 non-null    float64
 67  TOV       389 non-null    float64
 68  PF        389 non-null    float64
 69  PTS       389 non-null    float64
dtypes: float64(63), object(7)
memory usage: 215.8+ KB

In [143]:
merged2.columns

Index(['Player', 'Pos_2016', 'Age_2016', 'Tm_2016', 'G_2016', 'MP_2016',
       'WS_2016', 'FG_2016', 'FGA_2016', '3P_2016', '3PA_2016', '2P_2016',
       '2PA_2016', 'FT_2016', 'FTA_2016', 'ORB_2016', 'DRB_2016', 'TRB_2016',
       'AST_2016', 'STL_2016', 'BLK_2016', 'TOV_2016', 'PF_2016', 'PTS_2016',
       'Pos_2017', 'Age_2017', 'Tm_2017', 'G_2017', 'MP_2017', 'WS_2017',
       'FG_2017', 'FGA_2017', '3P_2017', '3PA_2017', '2P_2017', '2PA_2017',
       'FT_2017', 'FTA_2017', 'ORB_2017', 'DRB_2017', 'TRB_2017', 'AST_2017',
       'STL_2017', 'BLK_2017', 'TOV_2017', 'PF_2017', 'PTS_2017', 'Pos', 'Age',
       'Tm', 'G', 'MP', 'WS', 'FG', 'FGA', '3P', '3PA', '2P', '2PA', 'FT',
       'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [144]:
drop_columns = ['Player', 'Pos_2016', 'Tm_2016', 
       'WS_2016', 'ORB_2016', 'DRB_2016', 
       'Pos_2017', 'Tm_2017', 'WS_2017',
       'ORB_2017', 'DRB_2017', 'Pos', 'Age',
       'Tm', 'G', 'MP', 'WS', 'FG', 'FGA', '3P', '3PA', '2P', '2PA', 'FT',
       'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']
merged2_X = merged2.drop(columns=drop_columns)
merged2_y = merged2['WS']

In [145]:
merged2_X

,Age_2016,G_2016,MP_2016,FG_2016,FGA_2016,3P_2016,3PA_2016,2P_2016,2PA_2016,FT_2016,FTA_2016,TRB_2016,AST_2016,STL_2016,BLK_2016,TOV_2016,PF_2016,PTS_2016,Age_2017,G_2017,MP_2017,FG_2017,FGA_2017,3P_2017,3PA_2017,2P_2017,2PA_2017,FT_2017,FTA_2017,TRB_2017,AST_2017,STL_2017,BLK_2017,TOV_2017,PF_2017,PTS_2017
0,31.0,69.0,1108.0,188.0,469.0,66.0,185.0,122.0,284.0,49.0,64.0,101.0,180.0,30.0,10.0,82.0,132.0,491.0,32.0,65.0,894.0,121.0,300.0,48.0,128.0,73.0,172.0,32.0,40.0,69.0,125.0,25.0,9.0,66.0,93.0,322.0
1,20.0,78.0,1863.0,274.0,579.0,42.0,142.0,232.0,437.0,129.0,193.0,507.0,128.0,59.0,55.0,66.0,153.0,719.0,21.0,80.0,2298.0,393.0,865.0,77.0,267.0,316.0,598.0,156.0,217.0,405.0,150.0,64.0,40.0,89.0,172.0,1019.0
2,21.0,21.0,93.0,5.0,19.0,3.0,10.0,2.0,9.0,5.0,12.0,15.0,2.0,6.0,0.0,4.0,10.0,18.0,22.0,5.0,17.0,0.0,4.0,0.0,2.0,0.0,2.0,1.0,2.0,3.0,3.0,0.0,0.0,0.0,2.0,1.0
5,24.0,52.0,486.0,53.0,145.0,9.0,32.0,44.0,113.0,17.0,26.0,111.0,29.0,16.0,11.0,36.0,77.0,132.0,25.0,18.0,135.0,23.0,54.0,3.0,15.0,20.0,39.0,14.0,19.0,33.0,7.0,8.0,7.0,8.0,32.0,63.0
6,29.0,82.0,2631.0,529.0,1048.0,88.0,256.0,441.0,792.0,103.0,129.0,596.0,263.0,68.0,121.0,107.0,163.0,1249.0,30.0,68.0,2193.0,379.0,801.0,86.0,242.0,293.0,559.0,108.0,135.0,464.0,337.0,52.0,87.0,116.0,138.0,952.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,71.0,2197.0,433.0,939.0,110.0,326.0,323.0,613.0,141.0,194.0,459.0,141.0,52.0,30.0,114.0,172.0,1117.0
534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,46.0,1197.0,160.0,394.0,68.0,176.0,92.0,218.0,74.0,89.0,111.0,172.0,42.0,9.0,70.0,90.0,462.0
536,20.0,82.0,2294.0,433.0,959.0,123.0,316.0,310.0,643.0,161.0,203.0,228.0,251.0,69.0,17.0,155.0,193.0,1150.0,21.0,47.0,1749.0,326.0,710.0,120.0,310.0,206.0,400.0,117.0,140.0,159.0,139.0,41.0,10.0,85.0,104.0,889.0
537,34.0,68.0,2016.0,431.0,907.0,6.0,26.0,425.0,881.0,172.0,216.0,529.0,142.0,43.0,13.0,105.0,146.0,1040.0,35.0,73.0,1786.0,433.0,964.0,21.0,94.0,412.0,870.0,141.0,193.0,598.0,122.0,38.0,10.0,99.0,136.0,1028.0
538,31.0,76.0,2004.0,219.0,470.0,0.0,3.0,219.0,467.0,212.0,276.0,718.0,128.0,64.0,22.0,119.0,181.0,650.0,32.0,70.0,1268.0,164.0,307.0,0.0,2.0,164.0,305.0,98.0,126.0,410.0,132.0,59.0,33.0,88.0,166.0,426.0

In [177]:
X_train, X_test, y_train, y_test = tts(merged2_X,merged2_y)

In [187]:
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
rf.score(X_test,y_test)

0.4412301734510401

In [188]:
predict = rf.predict(merged2_X)

In [189]:
residuals = merged2_y - predict

In [190]:
residuals.describe()

count    389.000000
mean       0.076252
std        1.374658
min       -6.215000
25%       -0.589000
50%       -0.062000
75%        0.668000
max        6.365000
Name: WS, dtype: float64

In [194]:
merged2_2 = merged2_X.copy()
merged2_2['WS_2018']=merged2_y
merged2_2['predict']=predict
merged2_2['predict-actual'] = predict-merged2_y

In [196]:
df[df['Year']==2019][['Player','WS']].sort_values('WS',ascending=False).head(20)

NameError: name 'df' is not defined